{% for rs in ajaxproducts %}
<input type=hidden value="{{rs.vendor.id}}" id="vid">
<input type=hidden value="{{rs.category.id}}" id="cid">
{% comment %} {% if rs.status == "True" %} {% endcomment %}
{% comment %} {% if cr.id == rs.category_id %} {% endcomment %}
<div class="ps-product__column">
    <div class="ps-shoe mb-30">
        <div class="ps-shoe__thumbnail">
            <div class="ps-badge"><span>{%if rs.newstatus == "New" %}New {%else%} Discount {%endif%}</span></div>
            <div class="ps-badge ps-badge--sale {%if rs.newstatus == "New"%} ps-badge--2nd {%else%}1ps-badge--2nd{%endif%}"><span>{{rs.discount_percentage}}</span></div><a class="ps-shoe__favorite" href="/product/{{ rs.id}}/{{ rs.slug}}"><i class="ps-icon-heart"></i></a><img class="imgpro" src="{{ rs.image.url }}"  alt=""><a class="ps-shoe__overlay" href="/product/{{ rs.id}}/{{ rs.slug}}"></a>
        </div>
        <div class="ps-shoe__content">
            <div class="ps-shoe__variants">
                <div class="ps-shoe__variant normal">
                    
                    {% comment %} <img src="{% static ''%}{% static ''%}images/shoe/2.jpg" alt="">
                    <img src="{% static ''%}{% static ''%}images/shoe/3.jpg" alt="">
                    <img src="{% static ''%}{% static ''%}images/shoe/4.jpg" alt="">
                    <img src="{% static ''%}{% static ''%}images/shoe/5.jpg" alt=""> {% endcomment %}
                {% comment %} Show product image and variable image {% endcomment %}
                    {% comment %} <img src="{{rs.image.url }} " alt="">
                    {% for pr in images %}
                    {% if rs.id == pr.product_id %}
                    
                    <img src="{{pr.image.url }} " alt=""> 
                    {%endif%}
                    {% endfor %}   {% endcomment %}
                {% comment %} endshow product image {% endcomment %}
                {% for pr in rs.images_set.all %}
                <img class="imgvar" src="{{pr.image.url }}" alt="">
          
                {%endfor%}
                </div>
                <select class="ps-rating ps-shoe__rating">
                    <option value="{% if rs.avaregereview >= 0 %}1{% endif %}">1</option>
                    <option value="{% if rs.avaregereview >= 2 %}1{% endif %}">2</option>
                    <option value="{% if rs.avaregereview >= 3 %}1{% endif %}">3</option>
                    <option value="{% if rs.avaregereview >= 4 %}1{% endif %}">4</option>
                    <option value="{% if rs.avaregereview >= 5 %}1{% endif %}">5</option>
                    {{ rs.avaregereview |stringformat:".2f"}}
                </select>
            </div>
            <div class="ps-shoe__detail"><a class="ps-shoe__name mytextwrap" href="/product/{{ rs.id}}/{{ rs.slug}}" title="{{ rs.title }}">{{ rs.title }}</a>
                <p class="ps-shoe__categories"><a href="/searchcateid/{{ rs.category.id }}/{{ rs.category.slug }}">{{rs.category.title}}</a>,by <a href="{% url 'home:searchvendor' rs.vendor_id rs.category_id %}" style="color:#2ac37d;font-weight: bold;">{{rs.vendor.companyname | upper}}</a></p><span class="ps-shoe__price" style="padding-top:30px;color: #2ac37d;font-size:medium;top: 10px;">
                     <del style="font-size: small;margin-right: 5px;font-weight: bold;">$ {{ rs.m_price }} </del><strong>$ {{ rs.price }}</strong></span>
            </div>
        </div>
    </div>
</div>
{% comment %} {%endif%} <!--ifcr.id == rs.category_id--> {% endcomment %}
    {% comment %} {%endif%} {% endcomment %}
{% endfor %} <!--for product-->