
{% load static %}
{% load mptt_tags %}
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Tmart-Minimalist eCommerce HTML5 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static '' %}images1/favicon.ico">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">


    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="{% static '' %}css1/bootstrap.min.css">
    <!-- Owl Carousel main css -->
    <link rel="stylesheet" href="{% static '' %}css1/owl.carousel.min.css">
    <link rel="stylesheet" href="{% static '' %}css1/owl.theme.default.min.css">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="{% static '' %}css1/core.css">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="{% static '' %}css1/shortcode/shortcodes.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="{% static '' %}css1/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="{% static '' %}css1/responsive.css">
    <!-- User style -->
    <link rel="stylesheet" href="{% static '' %}css1/custom.css">


    <!-- Modernizr JS -->
    <script src="{% static '' %}js1/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>



    <section class="categories-slider-area bg__white">
            <div class="container">
                <div class="row">
                    <!-- Start Left Feature -->
                    <div class="col-md-9 col-lg-9 col-sm-8 col-xs-12 float-left-style">
                        <!-- Start Slider Area -->
                        <div class="slider__container slider--one">
                            <div class="slider__activation__wrap owl-carousel owl-theme owl-loaded owl-drag">
                                {% for rs in products_slider %}
                                <!-- Start Single Slide 1 -->
                                <div class="slide slider__full--screen slider-height-inherit slider-text-right" style="background: rgba(0, 0, 0, 0) url({{ rs.image.url }}) no-repeat scroll center center / cover ;">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-10 col-lg-8 col-md-offset-2 col-lg-offset-4 col-sm-12 col-xs-12">
                                                <div class="slider__inner">
                                                    <h1>New Product 1 {{ rs.title }}<span class="text--theme">Collection ${{ rs.price }}</span></h1>
                                                    <div class="slider__btn">
                                                        <a class="htc__btn" href="/product/{{ rs.id}}/{{ rs.slug}}">shop now</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 <!-- End Single Slide -->
                                {% endfor %}

                                <!-- Start Single Slide 2-->

                                <!-- End Single Slide -->
                            </div>
                        </div>
                        <!-- End Start Slider Area -->
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12 float-right-style">
                        <div class="categories-menu mrg-xs">
                            <div class="category-heading">
                               <h3> Browse Categories</h3>
                            </div>
                            <div class="category-menu-list">
                                <ul>
                                    {% recursetree category %}
                                    <li><a href="/category/{{ node.id }}/{{ node.slug }}"><img alt="" src="{% static '' %}images1/icons/thum2.png"> {{ node.title }}xxWomen’s Clothing <i class="zmdi zmdi-chevron-right"></i></a>
                                        {% if not node.is_leaf_node %}
                                        <div class="category-menu-dropdown">

                                            <div class="category-part-1 category-common mb--30">

                                                <h4 class="categories-subtitle"> Sub-Jewelry &amp; Watches</h4>
                                                <ul>
                                                    <li><a href="#">{{ children }} Men’s Clothing</a></li>

                                                </ul>
                                                {% endif %}
                                                 {% endrecursetree %}
                                            </div>
                                            <div class="category-part-2 category-common mb--30">
                                                <h4 class="categories-subtitle"> Jewelry &amp; Watches</h4>
                                                <ul>
                                                    <li><a href="#"> Men’s Clothing</a></li>
                                                    <li><a href="#"> Computer &amp; Office</a></li>
                                                    <li><a href="#"> Jewelry &amp; Watches</a></li>
                                                    <li><a href="#"> Bags &amp; Shoes</a></li>
                                                    <li><a href="#"> Phones &amp; Accessories</a></li>
                                                </ul>
                                            </div>
                                            <div class="category-part-3 category-common">
                                                <h4 class="categories-subtitle"> Jewelry &amp; Watches</h4>
                                                <ul>
                                                    <li><a href="#"> Men’s Clothing</a></li>
                                                    <li><a href="#"> Computer &amp; Office</a></li>
                                                    <li><a href="#"> Jewelry &amp; Watches</a></li>
                                                    <li><a href="#"> Bags &amp; Shoes</a></li>
                                                    <li><a href="#"> Phones &amp; Accessories</a></li>
                                                </ul>
                                            </div>
                                            <div class="category-part-4 category-common">
                                                <h4 class="categories-subtitle"> Jewelry &amp; Watches</h4>
                                                <ul>
                                                    <li><a href="#"> Men’s Clothing</a></li>
                                                    <li><a href="#"> Computer &amp; Office</a></li>
                                                    <li><a href="#"> Jewelry &amp; Watches</a></li>
                                                    <li><a href="#"> Bags &amp; Shoes</a></li>
                                                    <li><a href="#"> Phones &amp; Accessories</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li><a href="#"><img alt="" src="{% static '' %}images1/icons/thum3.png"> Man Fashion <i class="zmdi zmdi-chevron-right"></i></a>
                                        <div class="category-menu-dropdown">
                                            <div class="category-part-1 category-common2 mb--30">
                                                <h4 class="categories-subtitle"> Jewelry &amp; Watches</h4>
                                                <ul>
                                                    <li><a href="#"> Men’s Clothing</a></li>
                                                    <li><a href="#"> Computer &amp; Office</a></li>
                                                    <li><a href="#"> Jewelry &amp; Watches</a></li>
                                                    <li><a href="#"> Bags &amp; Shoes</a></li>
                                                    <li><a href="#"> Phones &amp; Accessories</a></li>
                                                </ul>
                                            </div>


                                            <div class="mega-banner-img">
                                                <a href="single-product.html">
                                                    <img alt="" src="{% static '' %}images1/feature-img/5.jpg">
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li><a href="#"><img alt="" src="{% static '' %}images1/icons/thum4.png"> Computer &amp; Office <i class="zmdi zmdi-chevron-right"></i></a>
                                        <div class="category-menu-dropdown">
                                            <div class="category-menu-dropdown-top">
                                                <div class="category-part-1 category-common2 mb--30">
                                                    <h4 class="categories-subtitle"> Jewelry &amp; Watches</h4>
                                                    <ul>
                                                        <li><a href="#"> Men’s Clothing</a></li>
                                                        <li><a href="#"> Computer &amp; Office</a></li>
                                                        <li><a href="#"> Jewelry &amp; Watches</a></li>
                                                        <li><a href="#"> Bags &amp; Shoes</a></li>
                                                        <li><a href="#"> Phones &amp; Accessories</a></li>
                                                    </ul>
                                                </div>
                                                <div class="category-part-2 category-common2 mb--30">
                                                    <h4 class="categories-subtitle"> Jewelry &amp; Watches</h4>
                                                    <ul>
                                                        <li><a href="#"> Men’s Clothing</a></li>
                                                        <li><a href="#"> Computer &amp; Office</a></li>
                                                        <li><a href="#"> Jewelry &amp; Watches</a></li>
                                                        <li><a href="#"> Bags &amp; Shoes</a></li>
                                                        <li><a href="#"> Phones &amp; Accessories</a></li>
                                                    </ul>
                                                </div>
                                                <div class="category-part-3 category-common2 mb--30">
                                                    <h4 class="categories-subtitle">Jewelry &amp; Watches</h4>
                                                    <ul>
                                                        <li><a href="#"> Men’s Clothing</a></li>
                                                        <li><a href="#"> Computer &amp; Office</a></li>
                                                        <li><a href="#"> Jewelry &amp; Watches</a></li>
                                                        <li><a href="#"> Bags &amp; Shoes</a></li>
                                                        <li><a href="#"> Phones &amp; Accessories</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="category-menu-dropdown-bottom">
                                                <div class="single-category-brand">
                                                    <a href="#"><img alt="" src="{% static '' %}images1/brand/6.png"></a>
                                                </div>
                                                <div class="single-category-brand">
                                                    <a href="#"><img alt="" src="{% static '' %}images1/brand/7.png"></a>
                                                </div>
                                                <div class="single-category-brand">
                                                    <a href="#"><img alt="" src="{% static '' %}images1/brand/8.png"></a>
                                                </div>
                                                <div class="single-category-brand">
                                                    <a href="#"><img alt="" src="{% static '' %}images1/brand/9.png"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li><a href="#"><img alt="" src="{% static '' %}images1/icons/thum5.png"> Jewelry &amp; Watches <i class="zmdi zmdi-chevron-right"></i></a>
                                        <div class="category-menu-dropdown">
                                            <div class="category-menu-dropdown-left">
                                                <div class="category-part-1 category-common mb--30">
                                                    <h4 class="categories-subtitle"> Jewelry &amp; Watches</h4>
                                                    <ul>
                                                        <li><a href="#"> Men’s Clothing</a></li>
                                                        <li><a href="#"> Computer &amp; Office</a></li>
                                                        <li><a href="#"> Jewelry &amp; Watches</a></li>
                                                        <li><a href="#"> Bags &amp; Shoes</a></li>
                                                        <li><a href="#"> Phones &amp; Accessories</a></li>
                                                    </ul>
                                                </div>



                                            </div>
                                            <div class="category-menu-dropdown-right">
                                                <div class="menu-right-img">
                                                    <a href="#"><img alt="" src="{% static '' %}images1/feature-img/2.png"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li><a href="#"><img alt="" src="{% static '' %}images1/icons/thum6.png"> Men’s Clothing <i class="zmdi zmdi-chevron-right"></i></a>
                                        <div class="category-menu-dropdown">
                                            <div class="category-menu-dropdown-left">


                                            </div>
                                            <div class="category-menu-dropdown-right">
                                                <div class="menu-right-img">
                                                    <a href="#"><img alt="" src="{% static '' %}images1/feature-img/1.png"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li><a href="#"><img alt="" src="{% static '' %}images1/icons/thum7.png"> Bags &amp; Shoes</a></li>
                                    <li><a href="#"><img alt="" src="{% static '' %}images1/icons/thum8.png"> Toys &amp; Kids &amp; Baby</a></li>
                                    <li><a href="#"><img alt="" src="{% static '' %}images1/icons/thum9.png">  Automobiles </a></li>
                                    <li><a href="#"><img alt="" src="{% static '' %}images1/icons/thum10.png"> Jewelry &amp; Watches</a></li>
                                    <li><a href="#"><img alt="" src="{% static '' %}images1/icons/thum2.png"> Consumer Electronics</a></li>
                                    <li><a href="#"><img alt="" src="{% static '' %}images1/icons/thum3.png"> all Accessories</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Left Feature -->
                </div>
            </div>
        </section>
    <!-- END QUICKVIEW PRODUCT -->
    <!-- Placed js at the end of the document so the pages load faster -->

    <!-- jquery latest version -->
    <script src="{% static '' %}js1/vendor/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap framework js -->
    <script src="{% static '' %}js1/bootstrap.min.js"></script>
    <!-- All js plugins included in this file. -->
    <script src="{% static '' %}js1/plugins.js"></script>
    <script src="{% static '' %}js1/slick.min.js"></script>
    <script src="{% static '' %}js1/owl.carousel.min.js"></script>
    <!-- Waypoints.min.js. -->
    <script src="{% static '' %}js1/waypoints.min.js"></script>
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script src="{% static '' %}js1/main.js"></script>

</body>