{% load static %}
{% load humanize %}
<!--for multi languages-->
{% load i18n %}
{% load mptt_tags %}



<!--*******load category tage as defined in templatetag **********-->

<!--*****************-->
{%block head%}
<style>
.header .header__top p {
  color: #ffffff;
  }
.menu-toggle.active {
  background-color: #2ac37d;
}
.ftcolor{
  color:#27b574;
  font-weight: bolder;
  /* font-size: 18px; */

}
.menu > li > a{
  color:#2ac37d;
}
</style>
{%endblock%}
<!--(1)-->
{% block header %}
              {% comment %} <div class="row ">
                <div class="alert alert-danger fade show" role="alert">
                  A simple danger alert—check it out!
                <div>
                </div> {% endcomment %}
                <div class="header--sidebar"></div>
                <header class="header">
                  <div class="header__top">
                    <div class="container-fluid" style="background-color:#d3e3fd;" >
                      
                 

            <div class="row">
              
                <div class="col-lg-6 col-md-8 col-sm-6 col-xs-12 ">
                  <!--a style="color:#20c997;"><strong>Today:&nbsp;{% now "jS F Y " %}</strong></a-->
                    <!--p style="color:#20c997;"><strong>{% trans "460 #123,Phnom Penh, Cambodia" %}  - <i class="fa fa-phone-square" aria-hidden="true"></i>{% trans "Hotline: (+855)012 424881 - 097 253 8888"%}</strong></p-->
                    <p style="color:#20c997;"><strong> <i class="fa fa-phone-square fa-2x" aria-hidden="true"></i>{% trans "Hotline: (+855)012 424881 - 097 253 8888"%}</strong></p>
                  </div>
                <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12 ">

                  <div class="header__actions">
                    <!--a style="color:#20c997;"><strong>Today:&nbsp;{% now "jS F Y " %}</strong></a-->
                        {% if user.id is not None %}
                        <img src="{{ request.session.userimage }}" style="height: 40px; border-radius: 30%;">
                   <div class="btn-group ps-dropdown">
                    <a class="1dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Hello {{user.username}}<i class="fa fa-angle-down"></i> </a>
                      <ul class="dropdown-menu">
                        <li><a href="{% url 'user:userprofile' %}"><i class="ps-icon-money"></i> My Account</a></li>
                        <li><a href="{% url 'wishlist:my_wishlist' %}"><i class="ps-icon-heart"></i> My Favorits </a></li>
                        <li><a href="#"><i class="ps-icon-share"></i> My order</a></li>
                        <li><a href="#"><i class="ps-icon-customer-service"></i> My Comments</a></li>
                      </ul>
                   </div>
                    <a href="{% url 'logout_func'%}">LogOUT </a>
                    {% else %}
                                                <a href="{% url 'login_form' %}">{% trans "Login" %} </a> 
                                                <a href="{% url 'signup_form' %}">{% trans "Regiser" %}</a>
                    {% endif %}
                    {% load myapptags %}
                    <div class="btn-group ps-dropdown"><a class="1dropdown-toggle" style="color:#20c997;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <strong>Rate 1$={% todayrate %}៛</strong><!--i class="fa fa-angle-down"></i--></a>
                    <!--div class="btn-group ps-dropdown">
                      <a href="{% url 'faq' %}" >FAQ<i class="fa fa-angle-down"></i></a>
                      <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">USD<i class="fa fa-angle-down"></i></a>
                      <ul class="dropdown-menu">
                          <form action="#" method="POST">
                              {% csrf_token %}
                        <li><a href="#"><img src="{% static ''%}images/flag/usa.svg" alt=""> USD</a></li>
                        <li><a href="#"><img src="{% static ''%}images/flag/singapore.svg" alt=""> SGD</a></li>
                        <li><a href="#"><img src="{% static ''%}images/flag/japan.svg" alt=""> JPN</a></li>
                          </form>
                      </ul>
                    </div-->
                    <!--style>
                      .dropdown-toggle::after {
                        border-right: 0 solid transparent;
                        border-left: 0 solid transparent;      

                      }
                    </style>
                    <!--div-- class="btn-group ps-dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Language<i class="fa fa-angle-down"></i></a>
                      <ul class="dropdown-menu">
                          <form action="{% url 'selectlanguage' %}" method="POST" >
                              {% csrf_token %}

                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}

                               {% if languages.0.code != LANGUAGE_CODE %}
                              <li value="{{languages.0.code}}" name="language1"><a href="{{ languages.0.code }}"><img src="{% static ''%}images/flag/cambodia.svg" alt=""> ({{ languages.0.code }})</a></li>
                              {% else %}
                              <li value="{{languages.1.code}}" name="language2" ><a href="/"><img src="{% static ''%}images/flag/usa.svg" alt=""> ({{ languages.1.code }})</a></li>
                              {% endif %}

                          </form>
                      </ul>
                    </div-->
                  </div>
                </div>
          </div>
        </div>
      </div>
      <nav class="navigation">
        <div class="container-fluid">
          <div class="navigation__column left">
            {% comment %} <div class="navigation__column left" style="width:30%;"> {% endcomment %}
            <div class="header__logo">
              <a class="ps-logo" href="/">{% load myapptags %}
              <!--img src="{% static ''%}images/logo.png" alt=""-->
              <img src="{% setting_info %}" alt="">
            </a></div>
          </div>
          <div class="navigation__column center" >  <!-- delete css class name center-->
            <!--form class="ps-subscribe__form ps-search--widget 1-form-inline" action="/searchbar/" method="post">
              {% csrf_token %}
              <input class="btn-group form-control"  id="query" name="query" type="text" placeholder="Search Product…" style="color:black;font-size:large;background-color:white;width:60%;height:45px;margin-top:2px;" placeholder="Search Product…">
              <button type="submit" class="btn-group" style="right:20%;height:90%;margin-top: 1px;margin-right: 1px;"><i class="ps-icon-search"></i></button>
            </form-->
            {% comment %} menu {% endcomment %}

            <ul class="main-menu menu">
              <li class="menu-item menu-item-has-children dropdown"><a href="/">Home</a>
                    <!--ul class="sub-menu">
                      <li class="menu-item"><a href="{% url 'home:about' %}">About Us</a></li>
                      <li class="menu-item"><a href="{% url 'home:contactus' %}">Contact Us</a></li>
                      <li class="menu-item"><a href="{% url 'home:termofservices' %}">Terms of Services</a></li>
                      <li class="menu-item"><a href="{% url 'home:privacypolicy' %}">Privacy Policy</a></li>
                      <li class="menu-item"><a href="{% url 'home:buyingguide' %}">Buying Guide</a></li>
                    </ul-->
              </li>
              <!--li class="menu-item menu-item-has-children has-mega-menu"><a href="#">Men</a>
                <div class="mega-menu">
                  <div class="mega-wrap">
                    <div class="mega-column">
                      <ul class="mega-item mega-features">
                        <li><a href="product-listing.html">NEW RELEASES</a></li>
                        <li><a href="product-listing.html">FEATURES SHOES</a></li>
                        <li><a href="product-listing.html">BEST SELLERS</a></li>
                        <li><a href="product-listing.html">NOW TRENDING</a></li>
                        <li><a href="product-listing.html">SUMMER ESSENTIALS</a></li>
                        <li><a href="product-listing.html">MOTHER'S DAY COLLECTION</a></li>
                        <li><a href="product-listing.html">FAN GEAR</a></li>
                      </ul>
                    </div>
                    <div class="mega-column">
                      <h4 class="mega-heading">Shoes</h4>
                      <ul class="mega-item">
                        <li><a href="product-listing.html">All Shoes</a></li>
                        <li><a href="product-listing.html">Running</a></li>
                        <li><a href="product-listing.html">Training & Gym</a></li>
                        <li><a href="product-listing.html">Basketball</a></li>
                        <li><a href="product-listing.html">Football</a></li>
                        <li><a href="product-listing.html">Soccer</a></li>
                        <li><a href="product-listing.html">Baseball</a></li>
                      </ul>
                    </div>
                    <div class="mega-column">
                      <h4 class="mega-heading">CLOTHING</h4>
                      <ul class="mega-item">
                        <li><a href="product-listing.html">Compression & Nike Pro</a></li>
                        <li><a href="product-listing.html">Tops & T-Shirts</a></li>
                        <li><a href="product-listing.html">Polos</a></li>
                        <li><a href="product-listing.html">Hoodies & Sweatshirts</a></li>
                        <li><a href="product-listing.html">Jackets & Vests</a></li>
                        <li><a href="product-listing.html">Pants & Tights</a></li>
                        <li><a href="product-listing.html">Shorts</a></li>
                      </ul>
                    </div>
                    <div class="mega-column">
                      <h4 class="mega-heading">Accessories</h4>
                      <ul class="mega-item">
                        <li><a href="product-listing.html">Compression & Nike Pro</a></li>
                        <li><a href="product-listing.html">Tops & T-Shirts</a></li>
                        <li><a href="product-listing.html">Polos</a></li>
                        <li><a href="product-listing.html">Hoodies & Sweatshirts</a></li>
                        <li><a href="product-listing.html">Jackets & Vests</a></li>
                        <li><a href="product-listing.html">Pants & Tights</a></li>
                        <li><a href="product-listing.html">Shorts</a></li>
                      </ul>
                    </div>
                    <div class="mega-column">
                      <h4 class="mega-heading">BRAND</h4>
                      <ul class="mega-item">
                        <li><a href="product-listing.html">NIKE</a></li>
                        <li><a href="product-listing.html">Adidas</a></li>
                        <li><a href="product-listing.html">Dior</a></li>
                        <li><a href="product-listing.html">B&G</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li-->
              <li class="menu-item"><a href="{%url 'home:vendorlist' %}">Vendors</a></li>
              <!--li class="menu-item"><a href="#">Kids</a></li-->
              <!--li class="menu-item"><a href="#">Woman</a></li-->
              <li class="menu-item"><a href="{% url 'home:contactus' %}">Contact Us</a></li>
              <li class="menu-item menu-item-has-children dropdown"><a href="{% url 'home:about' %}">About Us</a>
                    <!--ul class="sub-menu">
                      <li class="menu-item menu-item-has-children dropdown"><a href="blog-grid.html">Blog-grid</a>
                            <ul class="sub-menu">
                              <li class="menu-item"><a href="blog-grid.html">Blog Grid 1</a></li>
                              <li class="menu-item"><a href="blog-grid-2.html">Blog Grid 2</a></li>
                            </ul>
                      </li>
                      <li class="menu-item"><a href="blog-list.html">About Us</a></li>
                    </ul-->
              </li>
              <!--li class="menu-item menu-item-has-children dropdown"><a href="{%url 'home:productlisting' %}">Product listing</a>
                    <ul class="sub-menu">
                      <li class="menu-item"><a href="contact-us.html">Contact Us #1</a></li>
                      <li class="menu-item"><a href="contact-us.html">Contact Us #2</a></li>
                    </ul>
              </li-->
            </ul> 
            {% comment %} end menu {% endcomment %}

            <!--សាកល្បង JQuery JS autocomplete script -->
            <!--script>
              $(function() {
                $("#query").autocomplete({
                  source: "/search_auto/",
                  select: function (event, ui) { //item selected
                    AutoCompleteSelectHandler(event, ui)
                  },
                  minLength: 2,
                });
              });
              
              function AutoCompleteSelectHandler(event, ui)
              {
                var selectedObj = ui.item;
              }
              
            </!script-->
            <!--            end autocomplete-->
            <!-- input center with form search self edit -->
            <!--form action="/searchbar/" method="POST" class="form-inline" style="margin-top:20px;">
              {% csrf_token %}
              <div class="form-group">
                <select name="catid" class="form-control" aria-label=".form-select-lg example" style="background-color:white;border-color: green; border-width: medium;border-radius: 25px 0px 0px 25px;">
                  
                  {% comment %} <option value="0">All </option> {% endcomment %}
                   {% comment %} ******add templatetags******** {% endcomment %}
                  
                  {% load myapptags %}
                  {% categorylist as category %}
                  
                  {% comment %} *******end templatetags****** {% endcomment %}
                  
                  {% load mptt_tags %}
                  {% comment %} <option value="0">All </option> {% endcomment %}
                  {% recursetree category %}
                  
                  {% if node.is_leaf_node %}
                  <option value="{{ node.id }}">{{ node.title }}</option>
                  {% endif %}
                  {% if not node.is_leaf_node %}
                  <optgroup label="{{ node.title }}">
                    {{ children }}
                  </optgroup>
                  {% endif %}
                  {% endrecursetree %}
                </select>
              </div> 
              <div class="form-group">
                <input id="query" name="query" class="form-control" type="text" style="background-color:white;border-color: green; border-width: medium;"
                placeholder="Please search here…">
              </div>
              <div class="form-group">
                <button class="form-control" type="submit" style="background:#FBBC05;border-color: green; border-width: medium;border-radius: 0px 25px 25px 0px;"><i class="ps-icon-search"></i></button>
              </div>    
              
            </form-->
            <!-- end search self edit -->
          </div> <!--end center tag-->


          {% comment %} <div class="navigation__column right" style="float:right;"> {% endcomment %}
          <div class="navigation__column right">
            <!--សាកល្បងដាក់ category-->
            {% comment %} <div>
              {% if messages %}
               {% for message in messages %}
              <div class="alert {{message.tags}}" id="msg" role="alert">
                {{ message }}
              </div>
                {% endfor %}
              {% endif %}
              
              <script>
               
                setTimeout(function(){
                  if($('#msg').length>0){
                    $('#msg').remove();
                  }
                },10000) 
                
              </script>
            </div> {% endcomment %}
            <!--បញ្ចប់សាក់ល្បង Category-->
            {% load myapptags %}
            
            <!--Wish list-->
            {% if request.user.is_authenticated %}
            {% wishlistcount user.id as wlcount %}
            <div class="ps-cart1"><a class="ps-cart__toggle" href="{% url 'wishlist:my_wishlist' %}"style="background-color:#ce7dde;"><span ><i class="wlcount">{{wlcount}}</i></span><i class="ps-icon-heart"></i></a>
            {%else%} <!--Not login-->
            <div class="ps-cart1"><a class="ps-cart__toggle" href="{% url 'wishlist:view_wishlist_sess' %}"style="background-color:#ce7dde;"><span ><i class="wlcount_session">{{wishsession | length}}</i></span><i class="ps-icon-heart"></i></a>  
            {%endif%}
              <!--end wish list-->
          {% if request.user.is_authenticated %}  
            {% shopcartcount user.id as count %}
        <div class="ps-cart"><a class="ps-cart__toggle" href="{% url 'order:shopcart'%}" style="background-color:orange;"><span><i class="cartlistcount">{{ count }}</i></span><i class="ps-icon-shopping-cart"></i></a>
          {%else%} <!--Not login get Session-->{% countsess request as count_sess %}
        <div class="ps-cart"><a class="ps-cart__toggle" href="{% url 'order:view_cartlist_sess'%}" style="background-color:orange;"><span><i class="cartlistcount_sess">{{count_sess}}</i></span><i class="ps-icon-shopping-cart"></i></a>
          {%endif%} <!--end if authenticate-->
            <div id="cartlistajax"> <!--Start inject Ajax here-->
              <div class="ps-cart__listing"><!--start ps-cart__listing -->
                <div class="ps-cart__content"> <!--start ps-cart__content -->
                  {% if request.user.is_authenticated %} 
                  {% shopcartlist  request as shopcart %}
                  {% for rs in shopcart %}
                  <div class="ps-cart-item"><a class="ps-cart-item__close delete-cartlist" data-cartid="{{rs.id}}" ></a>
                  {% comment %} <div class="ps-cart-item"><a class="ps-cart-item__close" href="{% url 'order:deletefromcart' rs.id %}"></a> {% endcomment %}
                    {% if rs.variant.image_id  > 0 %}
                    <div class="ps-cart-item__thumbnail"><a href="/product/{{rs.product.id}}/{{rs.product.slug}}"></a><img src="{{rs.variant.image }}" alt=""></div>
                    {% else %}
                    <div class="ps-cart-item__thumbnail"><a href="/product/{{rs.product.id}}/{{rs.product.slug}}"></a><img src="{{rs.product.image.url}}" alt=""></div>
                    {% endif %}
                    <div class="ps-cart-item__content"><a class="ps-cart-item__title" href="/product/{{rs.product.id}}/{{rs.product.slug}}" style="margin-bottom: 0px;">{{rs.product.title}}&nbsp;(<i class="ftcolor">-{{rs.product.discount_percentage}}</i>)</a>
                      
                      <p><span>Qty:<i>{{rs.quantity}}</i></span><span>Total:<i>$
                        {% if rs.product.variant == 'None' %}
                          {{ rs.amount|intcomma}}&nbsp;<del style="color:orange;">${{rs.m_amount|intcomma}}</del></i></span>
                        {% else %}
                          {{ rs.varamount |intcomma}}&nbsp;<del style="color:orange;">${{rs.m_amount|intcomma}}</del></i></span>
                        {% endif %}  
                      {% comment %} </i></span> {% endcomment %}
                    </p>
                    </div>
                  </div>
                  {% endfor %}
                  <!--englogin-->
                  {%else%}<!--Not Login-->
                  <!--load tag cart sess -->
                  
                  {%if check_cart_sess == 'cart_var' %}
                    {% for rs in cart_sess_products_var %}
                  <div class="ps-cart-item"><a class="ps-cart-item__close delete-cartlist del_cart_sess_var" data-cartid="{{rs.product.id}}" ></a>
                  
                    <div class="ps-cart-item__thumbnail"><a href="/product/{{rs.product.id}}/{{rs.product.slug}}"></a><img src="{{rs.image }}" alt=""></div>
                    
                    <div class="ps-cart-item__content"><a class="ps-cart-item__title" href="/product/{{rs.id}}/{{rs.slug}}" style="margin-bottom: 0px;">{{rs.product.title}}&nbsp;(<i class="ftcolor">-{{rs.product.discount_percentage}}</i>)</a>
                      
                      <p><span>Qty:<i>{%for key, values in cart_pro_qty.items %}{%if key == rs.product.id|stringformat:"i" %}{{values}}{%endif%}{%endfor%}</i></span><span>Total:<i class="ftcolor" style="color:#2ac37d;">$
                        
                        {%for key, values in cart_pro_qty.items %}{%if key == rs.product.id|stringformat:"i" %}{% multiply values|floatformat:2 rs.price %}{%endif%}{%endfor%}&nbsp;<del style="color:orange;">${%for key, values in cart_pro_qty.items %}{%if key == rs.product.id|stringformat:"i" %}{% multiply values|floatformat:2 rs.product.m_price %}{%endif%}{%endfor%}</del></i></span>
                        
                    </p>
                    </div>
                  </div>
                  {% endfor %} 
                {%elif check_cart_sess == 'cart_no_var' %}<!--check no variant-->  
                  {% for rs in cart_list_sess_prods_no_var %}
                  <div class="ps-cart-item"><a class="ps-cart-item__close delete-cartlist del_cart_sess_no_var" data-cartid="{{rs.id}}" ></a>
                    
                      <div class="ps-cart-item__thumbnail"><a href="/product/{{rs.id}}/{{rs.slug}}"></a><img src="{{rs.image.url}}" alt=""></div>
                      
                      <div class="ps-cart-item__content"><a class="ps-cart-item__title" href="/product/{{rs.id}}/{{rs.slug}}" style="margin-bottom: 0px;">{{rs.title}}&nbsp;(<i class="ftcolor">-{{rs.discount_percentage}}</i>)</a>
                        
                        <p><span>Qty:<i>{%for key, values in cart_pro_qty_no_var.items %}{%if key == rs.id|stringformat:"i" %}{{values}}{%endif%}{%endfor%}</i></span><span>Total:<i class="ftcolor" style="color:#2ac37d;">$
                          
                          {%for key, values in cart_pro_qty_no_var.items %}{%if key == rs.id|stringformat:"i" %}{% multiply values|floatformat:2 rs.price   %}{%endif%}{%endfor%}&nbsp;<del style="color:orange;">${%for key, values in cart_pro_qty_no_var.items %}{%if key == rs.id|stringformat:"i" %}{% multiply values|floatformat:2 rs.m_price   %}{%endif%}{%endfor%}</del></i></span>
                          
                      </p>
                      </div>
                    </div>
                    {% endfor %} 
                    {% elif check_cart_sess == 'both'%}
                      {% for rs in cart_sess_products_var %}<!--for var 1st-->
                      <div class="ps-cart-item"><a class="ps-cart-item__close delete-cartlist del_cart_sess_var" data-cartid="{{rs.product.id}}" ></a>
                       
                          {% if rs.variant != 'None' %}
                          <div class="ps-cart-item__thumbnail"><a href="/product/{{rs.product.id}}/{{rs.product.slug}}"></a><img src="{{rs.image }}" alt=""></div>
                          {% else %}
                          <div class="ps-cart-item__thumbnail"><a href="/product/{{rs.id}}/{{rs.slug}}"></a><img src="{{rs.image.url}}" alt=""></div>
                          {% endif %}
                          <div class="ps-cart-item__content"><a class="ps-cart-item__title" href="/product/{{rs.product.id}}/{{rs.product.slug}}" style="margin-bottom: 0px;">{{rs.product.title}}&nbsp;(<i class="ftcolor">-{{rs.product.discount_percentage}}</i>)</a>
                            
                            <p><span>Qty:<i>{%for key, values in cart_pro_qty.items %}{%if key == rs.product.id|stringformat:"i" %}{{values}}{%endif%}{%endfor%}</i></span><span>Total:<i class="ftcolor" style="color:#2ac37d;">$
                              {% if rs.product.variant == 'None' %}
                              {%for key, values in cart_pro_qty.items %}{%if key == rs.product.id|stringformat:"i" %}{% multiply values|floatformat:2 rs.product.price   %}{%endif%}{%endfor%}&nbsp;<del style="color:orange;">${%for key, values in cart_pro_qty.items %}{%if key == rs.product.id|stringformat:"i" %}{% multiply values|floatformat:2 rs.product.m_price   %}{%endif%}{%endfor%}</del></i></span>
                              {% else %}
                              {%for key, values in cart_pro_qty.items %}{%if key == rs.product.id|stringformat:"i" %}{% multiply values|floatformat:2 rs.price %}{%endif%}{%endfor%}&nbsp;<del style="color:orange;">${%for key, values in cart_pro_qty.items %}{%if key == rs.product.id|stringformat:"i" %}{% multiply values|floatformat:2 rs.product.m_price %}{%endif%}{%endfor%}</del></i></span>
                              {% endif %}  
                            
                          </p>
                          </div>
                        </div>
                        {% endfor %} 
            
                        {% for rs in cart_list_sess_prods_no_var %}<!--for no_var 2nd-->
                      <div class="ps-cart-item"><a class="ps-cart-item__close delete-cartlist del_cart_sess_no_var" data-cartid="{{rs.id}}" ></a>
                    
                      <div class="ps-cart-item__thumbnail"><a href="/product/{{rs.id}}/{{rs.slug}}"></a><img src="{{rs.image.url}}" alt=""></div>
                      
                      <div class="ps-cart-item__content"><a class="ps-cart-item__title" href="/product/{{rs.id}}/{{rs.slug}}" style="margin-bottom: 0px;">{{rs.title}}&nbsp;(<i class="ftcolor">-{{rs.discount_percentage}}</i>)</a>
                        
                        <p><span>Qty:<i>{%for key, values in cart_pro_qty_no_var.items %}{%if key == rs.id|stringformat:"i" %}{{values}}{%endif%}{%endfor%}</i></span><span>Total:<i class="ftcolor" style="color:#2ac37d;">$
                         
                          {%for key, values in cart_pro_qty_no_var.items %}{%if key == rs.id|stringformat:"i" %}{% multiply values|floatformat:2 rs.price   %}{%endif%}{%endfor%}&nbsp;<del style="color:orange;">${%for key, values in cart_pro_qty_no_var.items %}{%if key == rs.id|stringformat:"i" %}{% multiply values|floatformat:2 rs.m_price   %}{%endif%}{%endfor%}</del></i></span>
                         
                      </p>
                      </div>
                    </div>
                    {% endfor %} 
            
            
                    {% else%}<!--dont have cart in session-->
                {%endif%}<!--end if cart_var--> 
              {%endif%} <!--end if authenticate-->
            
            
                  
                </div> <!--end div content -->
                {% if request.user.is_authenticated %} 
                {% shopcartgrandtotal user.id as data %}
                <div class="ps-cart__total">
                  <p>Number of items:<span>{{ count }}</span></p>
                  {% comment %} <p>Sub Total<span>${{total|floatformat:2}}</span></p> {% endcomment %}
                  <p>Sub Total<span>${{data.total |intcomma}}</span></p>
                  {% comment %} <p>VAT 10%:<span>${{vat10|floatformat:2}}</span></p> {% endcomment %}
                  <p hidden>VAT 10%:<span>${{vat10|floatformat:2 |intcomma}}</span></p>
                  <p>included VAT <!--span>${{vat10|floatformat:2 |intcomma}}</span--></p>
                  <p>Total of Items:<span>${{ data.grandtotal |intcomma}}</span></p> 
                  {% comment %} <p>Item GrandTotal:<span>${{ grandtotal}}</span></p> {% endcomment %}
                </div>
                <div class="ps-cart__footer"><a class="ps-btn" style="background-color:orange;" href="{% url 'order:shopcart' %}">View Cart<i class="ps-icon-shopping-cart"></i></a></div>
                {%else%}
                <div class="ps-cart__total">
                  {% comment %} <p>test total_no_var:${{gettotal_no_var}}</p>
                  <p>test total_var:${{gettotal_var}}</p>
                  <p>test total_var and no_var:${{grandtotal_sess}}</p> {% endcomment %}
                  <p>Number of items:<span>{{ count_sess }}</span></p>
                  {% comment %} <p>Sub Total<span>${{total|floatformat:2}}</span></p> {% endcomment %}
                  <p>Sub Total <span id="total_sess"class="ftcolor" style="color:#2ac37d;">${{ grandtotal_sess|floatformat:2 |intcomma}}</span></p>
                  {% comment %} <p>VAT 10%:<span>${{vat10|floatformat:2}}</span></p> {% endcomment %}
                  <p hidden>VAT 10%:<span>${{vat10|floatformat:2 |intcomma}}</span></p>
                  <p>included VAT <!--span>${{vat10|floatformat:2 |intcomma}}</span--></p>
                  <p>Total of Items:<span id="grandtotal_sess"class="ftcolor" style="color:#2ac37d;">${{ grandtotal_sess|floatformat:2 |intcomma}}</span></p> 
                  {% comment %} <p>Item GrandTotal:<span>${{ grandtotal}}</span></p> {% endcomment %}
                </div>
                <div class="ps-cart__footer"><a class="ps-btn" style="background-color:orange;" href="{% url 'order:view_cartlist_sess' %}">View Cart<i class="ps-icon-shopping-cart"></i></a></div>
            
                {%endif%}
            
            </div><!--End ps-cart__listing -->
          </div><!--end inject Cartlist Ajax-->
            
          </div>

            <div class="menu-toggle"><span></span></div> <!--remove class CSS menu-->
          </div>
        </div>
      </nav>
    </header>

    <script>
      //Deleted Cartlist by ajax request
              $(document).on('click','.delete-cartlist',function(){ 
                var _cartId=$(this).attr('data-cartid');
                var _vmdel=$(this);
                console.log(_cartId);
                  // Ajax
                $.ajax({
                  type:'POST',
                  url:'{% url 'order:delete_from_cartlist' %}',
                  data:{
                      'cartid':_cartId,
                      csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                      action: 'post',
                  },
                  dataType:'json',
      
                  beforeSend:function(){
                    _vmdel.attr('disabled',true);
                    },
                  success:function(res){
                    console.log(res);
                    if(res.status==1){
                        console.log("delete success");
                            //alert("your product was deleted from Cart List");
                        console.log(res.cartlistcount);
                        $(".cartlistcount").text(res.cartlistcount);
                        $('#md_head').html('<h4 class="modal-title" id="md_head">Your product Deleted succeeded!</h4>');
                        $('#md_body').html('<div class="modal-body" id="md_body">Succeeded ! Deleted product</div>');
                        $('#btn').addClass('btn-success');
                        $('#myModal').modal('toggle');
                        $('#cartlistajax').html(res.rendered_table);
                        $(_vmdel).closest("tr").fadeOut();
                        if (res.cartlistcount == 0){
                          $('#btnupdatecart').attr('hidden',true);
                        }    
                      }
                    }
                  
                });// End Ajax
      
                //start Ajax
                
                //end Ajax
                
              });
                  
      </script>  
      <script>
        //add header request sess for show cartlist session NO need to alert      
        $(document).ready(function() {
                $.ajax({
                        url:"{% url 'order:header_cartlist_sess' %}",
                        type: "GET",
                        dataType:'json',
                        success:function(res){
                          if(res.bool==true){
                            $('.cartlistcount_sess').text(res.cartlistcount_sess);
                            $('#cartlistajax').html(res.rendered_table);
                                } 
                          /*
                                else {
                            swal("Got something wrong request error!");
                                }
                          */
                        },//end success
                        
                });
                        // EndAjax
      
        });                  
      </script>      
  
{% endblock %}