{% load i18n %}
{% load mptt_tags %}

    <!--(2)-->
{% block headerservices %}
    <!--div class="header-services" style="overflow:unset;background-color:#20c997;">
      <div class="container text-center">
      <form class="ps-subscribe__form ps-search--widget 1-form-inline" action="/searchbar/" method="post">
        {% csrf_token %}
        
        <input class="btn-group form-control"  id="query" name="query" type="text" placeholder="Search Product…" style="color:black;font-size:large;background-color:white;width:60%;height:45px;margin-top:2px;" placeholder="Search Product…">
        <button type="submit" class="btn-group" style="right:20%;height:90%;margin-top: 1px;margin-right: 1px;"><i class="ps-icon-search"></i></button>
      </form>
      </div>
    </div--> 
<!--subscribe-->
<div class="ps-subscribe" style="padding-top: 2px;padding-bottom: 2px;background-color: #20c997;">
  <div class="ps-container">
    <div class="row">
          <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 ">
            <!-- <h3><i class="fa fa-envelope"></i>Sign up to Newsletter</h3> -->
          </div>
          <div class="col-lg-6 col-md-7 col-sm-12 col-xs-12 ">
            <form class="ps-subscribe__form" action="{% url 'searchbar' %}" method="post" style="margin-bottom: 0px;">
              {% csrf_token %}
              <input class="form-control" id="query" name="query" type="text" placeholder="Search Product…" style="color:black;font-size:large; background-color: white;font-family: 'FontAwesome';">
              <button type="submit"><i class="ps-icon-search"></i></button>
            </form>
          </div>
          <div class="col-lg-3 col-md-5 col-sm-12 col-xs-12 ">
            <!-- <p>...and receive  <span>$20</span>  coupon for first shopping.</p> -->
          </div>
    </div>
  </div>
</div>
<!--End subscribe-->

    <!--សាកល្បង JQuery JS autocomplete script -->
            <script>
              $(function() {
                $("#query").autocomplete({
                  source: "/search_auto/",
                  select: function (event, ui) { //item selected
                    AutoCompleteSelectHandler(event, ui)
                  },
                  minLength: 2,
                });
              });
              
              function AutoCompleteSelectHandler(event, ui)
              {
                var selectedObj = ui.item;
              }
              
            </script>
            <!--            end autocomplete-->
    
    {% endblock %}