
{% block messagealert %}
{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} m-2" id="msg" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %} 

 <script>
    setTimeout(function(){
      if($('#msg').length>0){
        $('#msg').remove();
      }
    },2000);
  </script>
{% comment %} <script>
  setTimeout(()=>{
    var alertId = document.getElementById('msg')
    alertId.classList.add('modal')
    },2000);

</script> {% endcomment %}

{%endblock%}