{% block head%}
<!--style for progress bar"-->
<style>
    .smpl-step {
        margin-top: 40px;
    }
    .smpl-step {
        border-bottom: solid 1px #e0e0e0;
        padding: 0 0 10px 0;
    }
  
    .smpl-step > .smpl-step-step {
        padding: 0;
        position: relative;
    }
  
    .smpl-step > .smpl-step-step .smpl-step-num {
        font-size: 17px;
        margin-top: -20px;
        margin-left: 47px;
    }
  
    .smpl-step > .smpl-step-step .smpl-step-info {
        font-size: 14px;
        padding-top: 27px;
    }
  
    .smpl-step > .smpl-step-step > .smpl-step-icon {
        position: absolute;
        width: 70px;
        height: 70px;
        display: block;
        background: #5CB85C;
        top: 45px;
        left: 50%;
        margin-top: -35px;
        margin-left: -15px;
        border-radius: 50%;
    }
  
    .smpl-step > .smpl-step-step > .progress {
        position: relative;
        border-radius: 0px;
        height: 8px;
        box-shadow: none;
        margin-top: 37px;
    }
  
   .smpl-step > .smpl-step-step > .progress > .progress-bar {
       width: 0px;
       box-shadow: none;
       background: #428BCA;
   }
  
    .smpl-step > .smpl-step-step.complete > .progress > .progress-bar {
        width: 100%;
    }
  
    .smpl-step > .smpl-step-step.active > .progress > .progress-bar {
        width: 50%;
    }
  
    .smpl-step > .smpl-step-step:first-child.active > .progress > .progress-bar {
        width: 0%;
    }
  
    .smpl-step > .smpl-step-step:last-child.active > .progress > .progress-bar {
        width: 100%;
    }
  
    .smpl-step > .smpl-step-step.disabled > .smpl-step-icon {
        background-color: #f5f5f5;
    }
  
    .smpl-step > .smpl-step-step.disabled > .smpl-step-icon:after {
        opacity: 0;
    }
  
    .smpl-step > .smpl-step-step:first-child > .progress {
        left: 50%;
        width: 50%;
    }
  
    .smpl-step > .smpl-step-step:last-child > .progress {
        width: 50%;
    }
  
    .smpl-step > .smpl-step-step.disabled a.smpl-step-icon {
        pointer-events: none;
    }
    .fa.fa-twitter{
      font-family:sans-serif;
    }
    .fa.fa-twitter::before{
      content:"𝕏";
      font-size:1.2em;
    }
   
  </style>
{%endblock%}
<!--complete,disabled ,active-->
<div id="demoprobar" class="collapse" style="padding-top:20px;">
<div class="container">
        <div class="row smpl-step" style="border-bottom: 0; min-width: 500px;">
            <div class="col-xs-2 smpl-step-step" id="step1">
                <div class="text-center smpl-step-num">Step 1</div>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <a class="smpl-step-icon"><i class="fa fa-cart-arrow-down" style="font-size: 60px; padding-left: 5px; padding-top: 5px; color: black;"></i></a>
                <div class="smpl-step-info text-center"><strong>Add Products to Cart</strong></div>
            </div>
    
            <div class="col-xs-2 smpl-step-step " id="step2">
                <div class="text-center smpl-step-num">Step 2<!--i class="fa fa-check" ></i--></div>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <a class="smpl-step-icon"><i class="fa fa-shopping-cart" style="font-size: 60px; padding-left: 5px; padding-top: 5px; color: black;"></i><i class="fa fa-check" style="font-size: 25px;color: #5cb85c;position: absolute;left: 30px;top: 15px;"></i></a>
                <div class="smpl-step-info text-center"><strong>Check & Upadate Cart</strong></div>
            </div>
            <div class="col-xs-2 smpl-step-step" id="step3">
                <div class="text-center smpl-step-num">Step 3</div>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <a class="smpl-step-icon"><i class="fa fa-location-arrow" style="font-size: 55px; padding-left: 10px; padding-top: 7px; color: black;"></i></a>
                <div class="smpl-step-info text-center"><strong>Shipping Info</strong></div>
            </div>
            <div class="col-xs-2 smpl-step-step"id="step4">
                <div class="text-center smpl-step-num">Step 4</div>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <a class="smpl-step-icon"><i class="fa fa-shopping-cart" style="font-size: 60px; padding-left: 5px; padding-top: 4px; color: black; "></i><i class="fa fa-arrow-right" style="font-size: 25px;color: #5cb85c;position: absolute;left: 30px;top: 15px;"></i></a>
                <div class="smpl-step-info text-center"><strong>Checkout Completed</strong></div>
            </div>
            <div class="col-xs-2 smpl-step-step "id="step5">
                <div class="text-center smpl-step-num">Step 5</div>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <a class="smpl-step-icon"><i class="fa fa-dollar" style="font-size: 60px; padding-left: 18px; padding-top: 4px; color: black; "></i></a>
                <div class="smpl-step-info text-center"><strong>Payment by QRcode</strong></div>
            </div>
            <div class="col-xs-2 smpl-step-step" id="step6">
                <div class="text-center smpl-step-num">Step 6</div>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <a class="smpl-step-icon"><i class="ps-icon-delivery" style="font-size: 60px; padding-left: 5px; padding-top: 4px; color: black;"></i></a>
                <div class="smpl-step-info text-center"><strong>Shipping Process</strong></div>
            </div>
        </div>
    </div>
</div>    