
{% load static %}
{% block author %} SOMMA{% endblock %}
{% block title %} Product detail {{ setting.title }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block product_detail %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
 <p>Hello Alert messages sent here!
                      <div class="col-md-6">
                                    <h4 class="text-uppercase">Write Your Review</h4>
                                    {% if messages %}
                                        {% for message in messages %}
                                            <div class="alert alert-{{message.tags}}" role="alert">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    <form class="review-form" action="/product/addcomment/{{ product.id }}" method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input name="subject" class="input" type="text" placeholder="Your subject" />
                                        </div>
                                        <div class="form-group">
                                            <textarea name="comment" class="input" placeholder="Your review"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-rating">
                                                <strong class="text-uppercase">Your Rating: </strong>
                                                <div class="stars">
                                                    <input type="radio" id="star5" name="rate" value="5" /><label for="star5"></label>
                                                    <input type="radio" id="star4" name="rate" value="4" /><label for="star4"></label>
                                                    <input type="radio" id="star3" name="rate" value="3" /><label for="star3"></label>
                                                    <input type="radio" id="star2" name="rate" value="2" /><label for="star2"></label>
                                                    <input type="radio" id="star1" name="rate" value="1" /><label for="star1"></label>
                                                </div>
                                            </div>
                                        </div>
                                        {% if user.id is not None %}
                                            <button class="primary-btn">Submit</button>
                                        {% else %}
                                            You must be logged in to post a review
                                        {% endif %}
                                    </form>
                                </div>
{% endblock %}
</body>
</html>