{% extends 'homebase.html' %}
{% load static %}
{% load i18n %}

{% block author %} SOMMA{% endblock %}
{% block title %} {{ setting.title }} Home SOMMA Mart Product Detail{% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block head %}<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>
<style>
    .color-option>li {
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 6px;
  vertical-align: top;
}

.color-option>li:last-child {
  margin-right: 0px;
}

.color-option>li>a {
  display: block;
  width: 20px;
  height: 20px;
}

.color-option>li.active a {
  -webkit-box-shadow: 0px 0px 0px 2px #FFF, 0px 0px 0px 3px #F8694A;
  box-shadow: 0px 0px 0px 2px #FFF, 0px 0px 0px 3px #F8694A;
}

</style>

{% endblock %}

<!-- add templatetags-->
{% load myapptags %}
{% categorylist as category %}
<!--end templatetags-->

{% load mptt_tags %}
{% recursetree category %}
{% endrecursetree %}




{% block breadcrumb %}
<!-- for everypage excepte index page-->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/category/{{ product.category.id }}/{{ product.category.slug }}">{{ product.category.title }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ product.title }}</li>
    </ol>
</nav>
<!-- end for page -->
{% endblock %}
<!--ថែម product_detail.html-->
{% block product_detail %}
<div class="ps-product--detail pt-60">
    <div class="ps-container">
        <div class="row">
            <div class="col-lg-10 col-md-12 col-lg-offset-1">
                <div class="ps-product__thumbnail">
                    <div class="ps-product__preview">

                        <div class="ps-product__variants">
                            {% if variant.image_id > 0 %}
                                {% for rs in images %}
                                    <div class="item"><p>variant images</p><img src="{{ rs.image.url }}" alt=""></div>
                                {% endfor %}
                            {% else %}
                                {% for rs in images %}
                                    <div class="item"><p>product images</p><img src="{{ product.image.url }}" alt=""></div>
                                {% endfor %}

                            {% endif %}

                        </div><a class="popup-youtube ps-product__video" href="http://www.youtube.com/watch?v=0O2aH4XLbto"><img src="{% static ''%}images/shoe-detail/1.jpg" alt=""><i class="fa fa-play"></i></a>

                    </div>
                    <div class="ps-product__image">
                      {% if variant.image_id > 0 %}
                        {% for rs in images %}
                        <div class="item "><img class="zoom" src="{{ rs.image.url }}" alt="" data-zoom-image="{{ rs.image.url }}"></div>
                        {% endfor %}
                      {% else %}
                        {% for rs in images %}
                        <div class="item "><img class="zoom" src="{{ product.image.url }}" alt="" data-zoom-image="{{ product.image.url }}"></div>
                        {% endfor %}
                      {% endif %}

                    </div>
                </div>
                <div class="ps-product__thumbnail--mobile">
                    <div class="ps-product__main-img"><img src="{% static ''%}images/shoe-detail/1.jpg" alt=""></div>
                    <div class="ps-product__preview owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="20" data-owl-nav="true" data-owl-dots="false" data-owl-item="3" data-owl-item-xs="3" data-owl-item-sm="3" data-owl-item-md="3" data-owl-item-lg="3" data-owl-duration="1000" data-owl-mousedrag="on"><img src="{% static ''%}images/shoe-detail/1.jpg" alt=""><img src="{% static ''%}images/shoe-detail/2.jpg" alt=""><img src="{% static ''%}images/shoe-detail/3.jpg" alt=""></div>
                </div>
                <div class="ps-product__info">
                    <div class="ps-product__rating">
                        <select class="ps-rating">
                            <option value="{% if product.avaregereview >= 1 %}1{% endif %}">1</option>
                            <option value="{% if product.avaregereview >= 2 %}1{% endif %}">2</option>
                            <option value="{% if product.avaregereview >= 3 %}1{% endif %}">3</option>
                            <option value="{% if product.avaregereview >= 4 %}1{% endif %}">4</option>
                            <option value="{% if product.avaregereview >= 5 %}1{% endif %}">5</option>
                            {{ product.avaregereview |stringformat:".2f"}}
                        </select><a href="#"> (Read all {{ product.countreview}} reviews)</a>
                    </div>
                    <h1>{{ product.title }}</h1>
                    <p class="ps-product__category"><a href="#"> {{ product.category }}</a>,<a href="#"> {{ product.category.title }}</a></p>
                    <h3 class="ps-product__price">$ {{product.price}} <del>$ 33</del></h3>
                    <div class="ps-product__block ps-product__quickview">
                        <h4>QUICK REVIEW</h4>
                        <p>{{product.description}} </p>
                    </div>
<!--add script ajax-->
                            <script>
                                $(document).on('change', '#post-form',function(e){
                                    e.preventDefault();
                                    $.ajax({
                                        type:'POST',
                                        url:'{% url "ajaxcolor" %}',
                                        data:{
                                            productid:$('#productid').val(),
                                            size:$('#size').val(),
                                            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                                            action: 'post'
                                        },
                                        data_type : 'html',
                                        success: function (data) {
                                            console.log("success");
                                            $('#appendHere').html(data.rendered_table);
                                        },
                                        error: function (data) {
                                            alert("Got an error dude " + data);
                                        }
                                    });
                                });
                            </script>
<!--end script ajax                    -->


                    <div class="ps-product__block ps-product__style">
                        <h4>CHOOSE YOUR STYLE</h4>
                        <div class="form-group">
                             <ul>
                                 {% if variant.image_id > 0 %}
                                     {% for rs in images %}
                                        <input type="radio" >
                                         <li><a href="#"><img src="{{ rs.image.url }}" alt=""></a></li>
                                     {% endfor %}
                                 {% else %}
                                     {% for rs in images %}
                                         <li><a href="#"><img src="{{ product.image.url }}" alt=""></a></li>
                                     {% endfor %}
                                 {% endif %}
                             </ul>
                         </div>
                    </div>
                    <div class="ps-product__block ps-product__size">
<!--                        <h4>CHOOSE SIZE<a href="#">Size chart</a></h4>-->
                          {% if product.variant == 'Size-Color' %}
<!--                            this is form size as select-->
                         <h4>CHOOSE YOUR Size and Color</h4>
                            <form method="POST" id="post-form">
                                <div class="form-group">
                                 <input type="hidden" name="productid" id="productid" value="{{ product.id }}">
                                 {% csrf_token %}

                                 <select class="ps-select selectpicker" name="size" id="size">
<!--                                    <option >Select Size</option>-->
                                     {% for rs in sizes %}
                                     <option {% if variant.size_id == rs.size_id %} selected {% endif %} value="{{ rs.size_id }}">{{ rs.size.name }}</option>
                                     {% endfor %}
                                 </select>
                                </div>
                            </form>

<!--                        this form color as radio-->
                              <form method="post" action="?q=selectvariant" id="post-color">
                                {% csrf_token %}

                                    <div id="appendHere" >

                                      <input type="hidden" name="size" id="size" value="{{ size_id }}">

                                                    <ul class="color-option">
                                                        <li><span class="text-uppercase">Color:</span></li>
                                                        {% for rs in colors %}
                                                            <input type="radio"  {% if variant.id == rs.id %} checked {% endif %} name="variantid" id="variantid" value="{{ rs.id }}" onchange="this.form.submit();">
                                                            <li  {% if variant.id == rs.id %} class="active" {% endif %}>
                                                                <a style="background-color:{{ rs.color.code }}; color: #D9D9D9; text-shadow: 1px 1px #000000; width: 90px">
                                                                    {{ rs.price }} {{ rs.color }}
                                                                </a>
                                                                <img src="{{ rs.image }}" alt="samak" style="height: 70px">
                                                            </li>
                                                        {% endfor %}
                                                    </ul>

                                  </div>
                              </form>
<!--                        test end product size class-->
<!--                    </div>-->

                          {% elif product.variant == 'Size' %}
                            <h4>CHOOSE SIZE<a href="#">Size chart</a></h4>
                                <div class="ps-product__block ps-product__size">
                                    <form method="post" action="?q=selectvariant" id="post-color" class="form-inline">
                                            {% csrf_token %}

                                            <div id="appendHere">
                                                <input type="hidden" name="size" id="size" value="{{ size_id }}">

                                                <ul class="color-option" >
                                                    <li><span class="text-uppercase">Size:</span></li><br>
                                                    {% for rs in sizes %}
                                                        <input type="radio"  {% if variant.id == rs.id %} checked {% endif %} name="variantid" id="variantid" value="{{ rs.id }}" onchange="this.form.submit();">
                                                        <li  {% if variant.id == rs.id %} class="active" {% endif %}>
                                                            <a style=" color: #204d74;  width: 70px">
                                                                {{ rs.size }}<br> ${{ rs.price }}
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>

                                            </div>
                                    </form>
                                </div>

                        {% elif product.variant == 'Color' %}
                                <h4>CHOOSE Color<a href="#">Color chart</a></h4>
                                        <form method="post" action="?q=selectvariant" id="post-color">
                                            {% csrf_token %}
                                            <div id="appendHere">
                                                <input type="hidden" name="size" id="size" value="{{ size_id }}">
                                                <ul class="color-option" >
                                                    <li><span class="text-uppercase">Color:</span></li><br>
                                                    {% for rs in colors %}

                                                        <input type="radio"  {% if variant.id == rs.id %} checked {% endif %} name="variantid" id="variantid" value="{{ rs.id }}" onchange="this.form.submit();">
                                                        <li  {% if variant.id == rs.id %} class="active" {% endif %}>
                                                            <a style="background-color:{{ rs.color.code }}; color: #D9D9D9; text-shadow: 1px 1px #000000; width: 90px">
                                                                {{ rs.price }}  {{ rs.color }}
                                                            </a>

                                                            <img src="{{ rs.image }}" style="height: 70px">
                                                        </li>

                                                    {% endfor %}
                                                </ul>
                                            </div>

                                        </form>

                        {% endif %}

<!--                        choose number of products-->
                        <div class="form-group">
                            <input class="form-control" type="number" value="1">
                        </div>
                    </div>
                    <div class="ps-product__shopping"><a class="ps-btn mb-10" href="cart.html">Add to cart<i class="ps-icon-next"></i></a>
                        <div class="ps-product__actions"><a class="mr-10" href="whishlist.html"><i class="ps-icon-heart"></i></a><a href="compare.html"><i class="ps-icon-share"></i></a></div>
                    </div>
                </div>
<!--        </div>-->
                <div class="clearfix"></div>
                <div class="ps-product__content mt-50">
                    <ul class="tab-list" role="tablist">
                        <li class="active"><a href="#tab_01" aria-controls="tab_01" role="tab" data-toggle="tab">Overview</a></li>
                        <li><a href="#tab_02" aria-controls="tab_02" role="tab" data-toggle="tab">Review ({{ product.countreview}} )</a></li>
                        <li><a href="#tab_03" aria-controls="tab_03" role="tab" data-toggle="tab">PRODUCT TAG</a></li>
                        <li><a href="#tab_04" aria-controls="tab_04" role="tab" data-toggle="tab">ADDITIONAL</a></li>
                    </ul>
                </div>
                <div class="tab-content mb-60">
                    <div class="tab-pane active" role="tabpanel" id="tab_01">
                        <p> {{ product.detail |safe }}</p>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="tab_02">
                        <p class="mb-20">Reviews List below: <strong>(Please login for your reviews)</strong></p>
                        {% for rs in comments %}
                        <div class="ps-review">
                            <div class="ps-review__thumbnail"><img src="{{ request.session.userimage }}" alt=""></div>
                            <div class="ps-review__content">
                                <header>
                                    <select class="ps-rating" name="rate">
                                        <option value="{% if rs.rate >= 1 %}1{% endif %}">1</option>
                                        <option value="{% if rs.rate >= 2 %}1{% endif %}">2</option>
                                        <option value="{% if rs.rate >= 3 %}1{% endif %}">3</option>
                                        <option value="{% if rs.rate >= 4 %}1{% endif %}">4</option>
                                        <option value="{% if rs.rate >= 5 %}1{% endif %}">5</option>
                                    </select>
                                    <p>By<a href=""> {{ rs.user.first_name }}</a> - {{ rs.create_at}}</p>
                                </header>
                                <p>{{ rs.comment }}.</p>
                            </div>
                        </div>
                        {% endfor %}
                        <form class="ps-product__review" action="/product/addcomment/{{ product.id }}" method="post">
                            {% csrf_token %}
                            <h4>ADD YOUR REVIEW</h4>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                                    <div class="form-group">
                                        <label>Subject:<span>*</span></label>
                                        <input class="form-control" name="subject" type="text" placeholder="Your Subject...">
                                    </div>
                                    <div class="form-group">
                                        <label>Your rating<span></span></label>
                                        <select class="ps-rating" name="rate">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 ">
                                    <div class="form-group">
                                        <label>Your Review:</label>
                                        <textarea class="form-control" name="comment" rows="6"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <!--                                        check user login or not-->
                                        {% if user.id is not None %}
                                         <button class="ps-btn ps-btn--sm">Submit<i class="ps-icon-next"></i></button>
                                            {% else %}
                                        <!--                                        if user not login request login first to comments-->
                                            <p> You must be logged in to post a review </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="tab_03">
                        <p>Add your tag <span> *</span></p>
                        <form class="ps-product__tags" action="_action" method="post">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="">
                                <button class="ps-btn ps-btn--sm">Add Tags</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="tab_04">
                        <div class="form-group">
                            <textarea class="form-control" rows="6" placeholder="Enter your addition here..."></textarea>
                        </div>
                        <div class="form-group">
                            <button class="ps-btn" type="button">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
