{% load static %}
{% block head %}
<style>
  .ps-subscribe{
    background-color:orange;
  }
</style>
{%endblock%}
<!--(11)-->
      {% block subscribe %}
      {% if not user.is_authenticated %}
      <div class="ps-subscribe">
        <div class="ps-container">
          <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 ">
                  <h3><i class="fa fa-envelope"></i>Subscribe to Newsletter</h3>
                </div>
                <div class="col-lg-5 col-md-7 col-sm-12 col-xs-12 ">
                  <form class="ps-subscribe__form" action="{% url 'user:subscribe' %}"  method="post">
                    {% csrf_token %}
                    <input class="form-control" name="email" type="email" placeholder="Email address">
                    <button type="submit">Subscribe now</button>
                  </form>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 ">
                  <p>...and receive  <!--span>$20</span-->  coupon for first shopping.</p>
                </div>
          </div>
        </div>
      </div>
      {% endif %}
      <!-- For alert messages box-->
  {% if messages %}
  {% for message in messages %}
  <div class="alert {{message.tags}} " role="alert" style="position: fixed; top: 200px; right: 0;z-index: 1000;">
    {{ message }}
    <span class="closebtn">&times;</span>
  </div>
  {% endfor %}
  {% endif %}
  <!--test alert-->
      <script>
        var close = document.getElementsByClassName("closebtn");
        var i;
        
        for (i = 0; i < close.length; i++) {
          close[i].onclick = function(){
            var div = this.parentElement;
            div.style.opacity = "0";
            setTimeout(function(){ div.style.display = "none"; }, 600);
          }
        }
        </script>
      {% endblock %}