s3transfer
idna
asgiref
oauthlib
cairocffi
sphinxcontrib-applehelp
typing_extensions
tablib
zipp
python-gettext
imagesize
pyhanko-certvalidator
chardet
phonenumbers
alabaster
gunicorn
pydantic_core
python-bidi
et-xmlfile
oscrypto
reportlab
python3-openid
odfpy
pyparsing
sphinxcontrib-jsmath
django-js-asset
python-dateutil
botocore
django-weasyprint
crispy-forms-gds
importlib_metadata
tzdata
sphinxcontrib-htmlhelp
pycparser
django-stubs-ext
sphinxcontrib-qthelp
mypy-extensions
lxml
arabic-reshaper
asn1crypto
pywin32-ctypes
jmespath
annotated-types
pydantic
rich
openpyxl
packaging
django-ckeditor
diff-match-patch
defusedxml
pypdf
segno
markdown-it-py
tzlocal
pkginfo
rfc3986
urllib3
xlwt
more-itertools
qrcode
sphinxcontrib-serializinghtml
colorama
tinycss2
uritools
snowballstemmer
requests-toolbelt
docutils
requests-oauthlib
certifi
pyphen
mdurl
xlrd
xhtml2pdf
cffi
svglib
cssselect2
webencodings
boto3
readme_renderer
commonmark
sphinxcontrib-devhelp
html5lib
numpy
sqlparse
nh3
cryptography
keyring
