{% extends 'homebase.html' %}
{% load static %}

{% block author %} SOMMA{% endblock %}
{% block title %} User profile {{ setting.title }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

<!--for allauth sociallogin-->
{% load account %}

{% user_display user %}
{% load socialaccount %}
{% providers_media_js %}
{% get_social_accounts user as accounts %}
{% get_providers as socialaccount_providers %}


{% block breadcrumb %}
<!-- for everypage excepte index page-->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Welcome :{{user}}</li>
    </ol>
</nav>
<!-- end for page -->
{% endblock%}
{% block login %}

<html lang="en">
<head>
<!--  <title>Bootstrap Example</title>-->
<!--  <meta charset="utf-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
  <style>
  /* Remove the navbar's default margin-bottom and rounded borders */
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {height: 450px}

  /* Set gray background color and 100% height */
  .sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
  }

  /* Set black background color, white text and some padding */
<!--  footer {-->
<!--    background-color: #555;-->
<!--    color: white;-->
<!--    padding: 15px;-->
<!--  }-->

  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;}
  }
  h1 {
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color:rgb(30, 139, 193);
  padding-top: 10px;
  padding-bottom: 10px;
}
  </style>
</head>
<body>

  <!-- <nav class="navbar navbar-inverse">
  <div class="container-fluid">
  <div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="#">Logo</a>
</div>
<div class="collapse navbar-collapse" id="myNavbar">
<ul class="nav navbar-nav">
<li class="active"><a href="#">Home</a></li>
<li><a href="#">About</a></li>
<li><a href="#">Projects</a></li>
<li><a href="#">Contact</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
</ul>
</div>
</div>
</nav> -->

<div class="container-fluid text-center"style="padding-bottom: 700px;">
  <div class="row content">
    <div class="col-sm-3 sidenav" style="text-align:left;">
      {% include "user_leftsidebar.html" %}
    </div>
    <!-- </div> -->
    <div class="col-sm-6 text-left">
      <h1>Welcome :{{user}}/{{usersocial.username}}</h1>
      <hr>
      <!--Vendor profile table-->
       {% if profile.usertype == "VENDOR" %}
        <table class="table table-hover">
        <thead>
          <tr>
            <th>Your Vendor Info</th>
            <th><a href= " {% url "vendor_update" %}" class=""><button type="button" class="btn btn-info">Update Vendor Profile</button></a></th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Your Company Logo</td>
            <td><img src="{{ vendorprofile.logo.url }}" style="border-radius: 45px; height: 200px "></td>
            <td>Noted</td>
          </tr>
          <tr>
            <td>Company Name:</td>
            <td>{{ vendorprofile1.companyname }} </td>
            <td>Noted</td>
          </tr>
          <tr>
            <td>Phone:</td>
            <td>{{vendorprofile1.phone}}</td>
            <td></td>
          </tr>


          <tr>
            <td>Contact:</td>
            <td>{{ vendorprofile1.contactname}}</td>
            <td></td>
          </tr>
          <tr>
            <td>Status:</td>
            <td>{{ vendorprofile.status}}</td>
            <td></td>
          </tr>

          <tr>
            <td>Date Join</td>
            <td>{{ vendorprofile.create_at}}</td>
            <td></td>
          </tr>

        </tbody>
      </table>
      {% endif %}

      <!--user profile table-->
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Your Info</th>
            <th><a href="{% url 'user:user_update' %}" class=""><button type="button" class="btn btn-info">Update Profile</button></a></th>
            <th><a href="{% url 'user:user_password' %}" class=""><button type="button" class="btn btn-info">Change Password</button></a></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Your image</td>
            <td><img src="{{ profile.image.url }}" style="border-radius: 45px; height: 200px "></td>
            <td>Noted</td>
          </tr>
          <tr>
            <td>User Name:</td>
            <td>{{ user.first_name}} {{ user.last_name}}</td>
            <td>Noted</td>
          </tr>
          <tr>
            <td>Email:</td>
            <td>{{user.email}}</td>
            <td></td>
          </tr>
          <tr>
            <td>Phone</td>
            <td>{{ profile.phone}}</td>
            <td></td>
          </tr>
          <tr>
            <td>Address</td>
            <td>{{ profile.address}}</td>
            <td></td>
          </tr>
          <tr>
            <td>City</td>
            <td>{{ profile.city}}</td>
            <td></td>
          </tr>
          <tr>
            <td>Country</td>
            <td>{{ profile.country}}</td>
            <td></td>
          </tr>
          <tr>
            <td>Phone</td>
            <td>{{user.Phone}}</td>
            <td></td>
          </tr>
          <tr>
            <td>Date Join</td>
            <td>{{ user.date_joined}}</td>
            <td></td>
          </tr>
        <tr>
            <td>last Login</td>
            <td>{{ user.last_login}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <hr>
      <h3>Alert Info</h3>

      {% load crispy_forms_tags %}
      {% if user.is_superuser %}
      <form method="POST">
        {% csrf_token %}
        {% comment %} {{ form|crispy }} {% endcomment %}
        {{form.as_p}}
        {{form.media}}

        {% comment %} {{form.message}} {% endcomment %}
        {% comment %} {{ form.media  }} {% endcomment %}
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Send</button>
        </div>
    </form>
    {%endif%}
      <p>
          {% if messages %}
            {% for message in messages %}
                <div style="color: #d43f3a; font-size: medium">
                {{ message|safe }}
                </div>
            {% endfor %}
        {% endif %}
        </p>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>Your Favorits Products</p>
      </div>
      <div class="well">
        <p>Your White List Products</p>
      </div>
    </div>
  </div>
</div>

<!-- <footer class="container-fluid text-center">
<p>Footer Text</p>
</footer> -->

</body>
</html>
{% endblock %}