{% extends 'homebase.html' %}
{% load static %}

{% block author %} SOMMA{% endblock %}
{% block title %} User profile {{ setting.title }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
<!--for allauth sociallogin-->
{% load account %}

{% user_display user %}
{% load socialaccount %}
{% providers_media_js %}
{% get_social_accounts user as accounts %}
{% get_providers as socialaccount_providers %}


<!--Test category menus every pages-->

<!--end test category-->

{% block login %}
      <div class="ps-home-contact">
        <div id="contact-map" data-address="New York, NY" data-title="BAKERY LOCATION!" data-zoom="17"></div>

          <header>
            <h3>Login</h3>
            <p>Please login for your order processes</p>
          </header>
            <!--check the message sucessful -->
<div class="ps-container">
              <!-- row -->
            <div class="row">

                <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12 ">
                    {% include "user_leftsidebar.html" %}
                </div>

                <div class="col-lg-6 col-md-8 col-sm-6 col-xs-12 ">
                    <div class="billing-details">
                        <div class="section-title">
                            <h3 class="title">User Profile Inf.</h3>
                        </div>
                    </div>
                     <table class="shopping-cart-table table">
                        <tr>
                            <th class="text-left">
                                <a href="/user/update" class="primary-btn">Update Profile</a>
                                <a href="/user/password" class="primary-btn">Change Password</a>
                            </th>
                            <td><img src="{{ profile.image.url }}" style="border-radius: 45px; height: 200px "></td>
                        </tr>
                        <tr>
                            <th class="text-left">Name Surname</th>
                            <td class="text-left">{{ user.first_name}} {{ user.last_name}} /{{user.email}}{{email}}</td>
                        </tr>
                        <tr>
                            <th class="text-left">Email</th>
                            <td class="text-left">{{ profile.user.email}}/{{user.email}}</td>
                        </tr>
                        <tr>
                            <th class="text-left">Phone</th>
                            <td class="text-left">{{ profile.phone}}</td>
                        </tr>
                        <tr>
                            <th class="text-left">Addres</th>
                            <td class="text-left">{{ profile.address}}</td>
                        </tr>
                        <tr>
                            <th class="text-left">City</th>
                            <td class="text-left">{{ profile.city}}</td>
                        </tr>
                        <tr>
                            <th class="text-left">Country</th>
                            <td class="text-left">{{ profile.country}}</td>
                        </tr>
                         <tr>
                            <th class="text-left">Date Join</th>
                            <td class="text-left">{{ user.date_joined}}</td>
                        </tr>

                         <tr>
                            <th class="text-left">last Login</th>
                            <td class="text-left">{{ user.last_login}}</td>
                        </tr>
                         <tr>
                            <th class="text-left">Status active/is</th>
                            <td class="text-left">{{ user.is_active}}/{{ user.is_staff}}/</td>
                        </tr>
                         <tr>
                            <th class="text-left">Social Account{{accounts}}</th>
                            <td class="text-left"> {{accounts.google}}/{{socialaccount_providers}}</td>
                        </tr>
                    </table>
                </div>


            </div>
            <!-- /row -->
</div>

        </div>

        </div>

      </div>
      <!--test from database-->
<br>

<br>
<br>

<br>
<br>

<br>
<br>

<br>
<br>

<br><br>

<br><br>

<br>
{% endblock %}