{% extends 'homebase.html' %}
{% load static %}

{% block author %} SOMMA{% endblock %}
{% block title %} User profile {{ setting.title }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

<!--Test category menus every pages-->

<!--end test category-->

{% block login %}
      <div class="ps-home-contact">
        <div id="contact-map" data-address="New York, NY" data-title="BAKERY LOCATION!" data-zoom="17"></div>
        <div class="container">
          <header>
            <h3>Login</h3>
            <p>Please login for your order processes</p>
          </header>
            <!--check the message sucessful -->

              <!-- row -->
            <div class="row">

                    <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12 ">
                        {% include "user_panel.html" %}
                    </div>

<div class="col-lg-6 col-md-8 col-sm-6 col-xs-12 ">
    <div class="billing-details">
        <div class="section-title">
            <h3 class="title">User Profile Update</h3>
        </div>
    </div>
        {% if messages %}
        {% for message in messages %}
            <div style="color: #d43f3a; font-size: medium">
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}
                    <form method="POST" enctype = "multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            {{ user_form.as_p  }}
                            {{ profile_form.as_p  }}
                        </fieldset>
                        <div class="form-group">
                            <button class="primary-btn" type="submit">Update</button>
                        </div>
                    </form>
                </div>


            </div>
            <!-- /row -->
            </div>
        </div>

        </div>

      </div>
      <!--test from database-->
<br>

<br>
<br>

<br>
<br>

<br>
<br>

<br>
<br>

<br><br>

<br><br>

<br>
{% endblock %}