{% extends 'homebase.html' %}
{% load static %}

{% block author %} SOMMA{% endblock %}
{% block title %} Order Form {{ setting.title }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

<!--Test category menus every pages-->
{% block head %}
   <style type="text/css">
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 400px;
        width: 100%;
      }

      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script>
      let map;

      function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
          center: { lat:   11.557100, lng: 104.927475 },
          zoom: 12,
        });
      }
    </script>
{% endblock %}
<!--end test category-->
{% block breadcrumb %}
<!-- for everypage excepte index page-->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Order Form</li>
    </ol>
</nav>
<!-- end for page -->
{% endblock %}

{% block shopcart %}
<div class="ps-content pt-80 pb-80" style="padding-top:10px;">
    <div class="ps-container" style="padding-left: 80px;padding-right: 80px;">

        <!--        <div class="ps-cart-listing">-->

        <form class="ps-checkout__form" action="" method="post">
            {% csrf_token %}
            <div class="row">

                    <h1 style="text-align:center;text-transform: uppercase;"> Please fill in the Shipping and Payment</h1>

                <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 " style="background-color: orange;">
                    <div class="ps-checkout__billing" >
                       <h3>Shipping to Address (Please Adjust if not your location)</h3><br>
                        <div class="form-group form-group--inline">
                            <label>First Name<span>*</span>
                            </label>
                            <input class="form-control" type="text" name="first_name"  value="{{ user.first_name }}" maxlength="10" required id="id_first_name">
                        </div>
                        <div class="form-group form-group--inline">
                            <label>Last Name<span>*</span>
                            </label>
                            <input class="form-control" type="text" name="last_name"  value="{{ user.last_name }}" maxlength="10" required id="id_last_name">
                        </div>
                        <div class="form-group form-group--inline">
                            <label>Company Name<span>*</span>
                            </label>
                            <input class="form-control" type="text">
                        </div>
                        <div class="form-group form-group--inline">
                            <label>Email Address<span>*</span>
                            </label>
                            <input class="form-control" type="email" value="{{ user.email }}">
                        </div>
                        <div class="form-group form-group--inline">
                            <label>Phone 1<span>*</span>
                            </label>
                            <input class="form-control" type="text" name="phone"  value="{{ profile.phone }}">
                        </div>
                        <div class="form-group form-group--inline">
                            <label>Phone 2<span>*</span>
                            </label>
                            <input class="form-control" type="text" name="phone"  value="{{ profile.phone }}">
                        </div>
                        <div class="form-group form-group--inline">
                            <label>Address<span>*</span>
                            </label>
                            <input class="form-control" type="text" name="address" value="{{ profile.address }}" maxlength="150" id="id_address">
                        </div>
<!--                        <div class="form-group">-->
<!--                            <div class="ps-checkbox">-->
<!--                                <input class="form-control" type="checkbox" id="cb01">-->
<!--                                <label for="cb01">Create an account?</label>-->
<!--                            </div>-->
<!--                        </div>-->
                        <h3 class="mt-40"> Shipping to Map</h3>
                        <div class="form-group form-group--inline textarea">
                            <label>Point Shipping Location </label>
                            <textarea class="form-control" rows="5" placeholder="Maps area"></textarea>
                        </div>
                        <h3 class="mt-40"> Addition information</h3>
                        <div class="form-group form-group--inline textarea">
                            <label>Order User Notes</label>
                            <textarea class="form-control" rows="5" name="userordernote" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4 col-sm-12 col-xs-12 ">
                    <div class="ps-checkout__order" style="background-color: #55ade6;">
                        <header>
                            <h3>Payment Information</h3>
                        </header>
                        <div class="content">
                            <div class="form-group form-group--inline">
                            <label>Sub Total<span>*</span>
                            </label>
                            <input class="form-control" type="text" name="subtotal" readonly value="{{ total }}" maxlength="10" required id="id_subtotal">
                            </div>
                            <div class="form-group form-group--inline">
                            <label>VAT 10%<span>*</span>
                            </label>
                            <input class="form-control" type="text" name="vat" readonly value="" maxlength="10" required id="id_vat">
                            </div>
                            <div class="form-group form-group--inline">
                            <label>Grand Total:<span>*</span>
                            </label>
                            <input class="form-control" type="text" name="grandtotal" readonly value="{{ total }} USD" maxlength="10" required id="total">
                            </div>
<!--                            <table class="table ps-checkout__products">-->
<!--                                <thead>-->
<!--                                <tr>-->
<!--                                    <th class="text-uppercase">Product</th>-->
<!--                                    <th class="text-uppercase">Total</th>-->
<!--                                </tr>-->
<!--                                </thead>-->
<!--                                <tbody>-->
<!--                                <tr>-->
<!--                                    <td>HABITANT x1</td>-->
<!--                                    <td>$300.00</td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td>Card Subtitle</td>-->
<!--                                    <td>$300.00</td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td>Order Total</td>-->
<!--                                    <td>$300.00</td>-->
<!--                                </tr>-->
<!--                                </tbody>-->
<!--                            </table>-->
                        </div>
                        <footer>
                            <h3>Payment Method</h3>
                            <div class="form-group cheque">
                                <div class="ps-radio">
                                    <input class="form-control" type="radio" id="rdo01" name="payment" checked>
                                    <label for="rdo01">ABA ACCOUNT</label>
                                    <p>Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                </div>
                            </div>
                            <div class="form-group paypal">
                                <div class="ps-radio ps-radio--inline">
                                    <input class="form-control" type="radio" name="payment" id="rdo02">
                                    <label for="rdo02">Paypal</label>
                                </div>
                                <ul class="ps-payment-method">
                                    <li><a href="#"><img src="images/payment/1.png" alt=""></a></li>
                                    <li><a href="#"><img src="images/payment/2.png" alt=""></a></li>
                                    <li><a href="#"><img src="images/payment/3.png" alt=""></a></li>
                                </ul>
                                <button class="ps-btn ps-btn--fullwidth">Check Out Order <i class="ps-icon-next"></i></button>
                            </div>
                        </footer>
                    </div>
                    <div class="ps-shipping">
                        <h3>FREE SHIPPING</h3>
                        <p>YOUR ORDER QUALIFIES FOR FREE SHIPPING.<br> <a href="#"> Singup </a> for free shipping on every order, every time.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <p>Google Map here</p>
                <div id="map"></div>

            </div>
<!--            <div class="row">-->
<!--            <p>for map</p>-->
<!--                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d250151.45210707132!2d104.75010084181018!3d11.579330574994277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3109513dc76a6be3%3A0x9c010ee85ab525bb!2sPhnom%20Penh!5e0!3m2!1sen!2skh!4v1619502495418!5m2!1sen!2skh" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>-->
<!--            </div>-->
        </form>
        <br><br>
        <div class="ps-cart-listing">
            <h1 style="text-align:center;"> Your Detail products had order Listed below:</h1>
            <table class="table ps-cart__table" aria-readonly="true">

            <thead style="background-color:orange">
            <tr>
                <td>N#</td>
                <th>All Products</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>NOTE</th>
            </tr>
            </thead>

            <tbody>
            {% for rs in shopcart %}

            <tr>
                <td>{{ rs.id}}</td>
                {% if rs.variant.image_id  > 0 %}

                <td><a class="ps-product__preview" href="/product/{{rs.product.id}}/{{rs.product.slug}}"><img class="mr-15" src="{{rs.variant.image }}" style="height: 70px"alt="">{{product.title}}{{rs.product}} {{ rs.variant.size }} {{ rs.variant.color }}</a></td>
                {% else %}
                <td><a class="ps-product__preview" href="/product/{{rs.product.id}}/{{rs.product.slug}}"><img class="mr-15" src="{{rs.product.image.url}}"style="height: 70px" alt="">{{product.title}}{{rs.product}}</a></td>
                {% endif %}
                <td>$
                    {% if rs.product.variant == 'None' %}
                    {{ rs.product.price }}
                    {% else %}
                    {{ rs.variant.price }}
                    {% endif %}
                </td>
                <td>
                    <div class="form-group--number">
                        <button class="minus"><span>-</span></button>
                        <input class="form-control" type="text" value="{{rs.quantity}}">
                        <button class="plus"><span>+</span></button>
                    </div>
                </td>
                <td>$
                    {% if rs.product.variant == 'None' %}
                    {{ rs.amount}}
                    {% else %}
                    {{ rs.varamount }}
                    {% endif %}
                </td>
                <td>
                    <!--                    <a href="/order/deletefromcart/{{rs.id}}" onclick="return confirm('delete this product? ! Are you sure?'" class="main-btn icon-btn"><div class="ps-remove">  </div></a>-->
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
<!--            <div class="ps-cart__actions">-->
<!--                <div class="ps-cart__promotion">-->
<!--                <div class="form-group">-->
<!--                    <div class="ps-form&#45;&#45;icon"><i class="fa fa-angle-right"></i>-->
<!--                        <input class="form-control" type="text" placeholder="Promo Code">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <button class="ps-btn ps-btn&#45;&#45;gray">Continue Shopping</button>-->
<!--                </div>-->
<!--                </div>-->
<!--                    <div class="ps-cart__total">-->
<!--                <h3>Total Price: <span> {{total}} $</span></h3><a class="ps-btn" href="/order/orderproduct">Process to checkout<i class="ps-icon-next"></i></a>-->
<!--                    </div>-->
<!--            </div>-->
        </div>
        <!--        </div>-->
    </div>
</div>
<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdXk5HB1EysqKPjd3qiO8a45ryyUJO0QI&callback=initMap&libraries=&v=weekly"
      async
    ></script>

{% endblock %}