{% extends 'homebase.html' %}
{% load static %}

{% block author %} SOMMA{% endblock %}
{% block title %} Shop Cart List {{ setting.title }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

<!--Test category menus every pages-->

<!--end test category-->
{% block head %}

<style type="text/css">
   /* copy from invoice css */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

table th,
table td {
  padding: 20px;
  background: #EEEEEE;
  text-align: center;
  border-bottom: 1px solid #FFFFFF;
}

table th {
  white-space: nowrap;
  font-weight: normal;
}

table td {
  text-align: right;
}

table td h3{
  color: #57B223;
  font-size: 1.2em;
  font-weight: normal;
  margin: 0 0 0.2em 0;
}

table .no {
  color: #FFFFFF;
  font-size: 1.6em;
  background: #57B223;
}

table .desc {
  text-align: left;
}

table .unit {
  background: #DDDDDD;
}

table .qtty {
}

table .total {
  background: #57B223;
  color: #FFFFFF;
}

table td.unit,
table td.qty,
table td.total {
  font-size: 1.2em;
}

table tbody tr:last-child td {
  border: none;
}

table tfoot td {
  padding: 10px 20px;
  background: #FFFFFF;
  border-bottom: none;
  font-size: 1.2em;
  white-space: nowrap;
  border-top: 1px solid #AAAAAA;
}

table tfoot tr:first-child td {
  border-top: none;
}

table tfoot tr:last-child td {
  color: #57B223;
  font-size: 1.4em;
  border-top: 1px solid #57B223;

}

table tfoot tr td:first-child {
  border: none;
}

</style>

{% endblock %}
{% block breadcrumb %}
<!-- for everypage excepte index page-->
<nav aria-label="breadcrumb ">
    <ol class="breadcrumb"
        style="background-color:#8bc343;height: 55px;margin-bottom: 0px;padding-top: 15px;border-radius: 0px;">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Products Shop Cart</li>
    </ol>
</nav>
<!-- end for page -->
{% endblock %}
{% block shopcart %}
<!--Test Increase Decrease button-->
<script>
  $(document).ready(function(){
	   $('.minus').click(function(){
		   var qty_val1 = $(this).next().val();
		   if(qty_val1>1){
			   $('#qty').val(parseInt(qty_val1)-1);
		   }
	   });
	   $('.plus').click(function(){
		   if($("#qty").val()!=""){
			   var qty_val1 = $(this).prev().val();
			   $('#qty').val(parseInt(qty_val1)+1);
		   }
	   });
  });

</script>
<!--EndTest-->
<div class="row">
    {% if messages %}
    {% for message in messages %}
    <div class="alert {{message.tags}}" role="alert">
        <p> {{message.tags}}</p>
        <p>{{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
</div>

<div class="ps-content pt-80 pb-80" style="padding-top:10px;">
    <!--    <h1 style="text-align:center;text-transform: uppercase;color:white;background-color:rgb(30, 204, 235);">{{user.username}}: Order summary </h1><br>-->
    <div class="ps-container">
        <h3 style="text-align:center;text-transform: uppercase;color:white;background-color:DodgerBlue;padding-top: 30px;padding-bottom: 30px;">
            Hello "{{user.username}}" Please Check Your Products in Shop Cart </h3>
        <div class="ps-cart-listing">
            <table class="table ps-cart__table">
                <thead style="background-color:orange">
                <tr>
                    <td class="no">N#</td>
                    <th class="desc">All Products</th>
                    <th class="unit">Price</th>
                    <th class="qtty">Qty</th>
                    <th class="total">Total</th>
                    <th class="desc">Remove</th>
                </tr>
                </thead>
                <tbody>

                {% for rs in shopcart %}


                <tr>
                    <td class="no">{{ forloop.counter }}</td> <!--for count loop index-->
                    {% if rs.variant.image_id > 0 %}

                    <td class="desc"><a class="ps-product__preview"
                                        href="/product/{{rs.product.id}}/{{rs.product.slug}}"><img class="mr-15"
                                                                                                   src="{{rs.variant.image }}"
                                                                                                   style="height: 70px"
                                                                                                   alt="">{{product.title}}{{rs.product}}
                        {{ rs.variant.size }} {{ rs.variant.color }}</a></td>
                    {% else %}
                    <td class="desc"><a class="ps-product__preview"
                                        href="/product/{{rs.product.id}}/{{rs.product.slug}}"><img class="mr-15"
                                                                                                   src="{{rs.product.image.url}}"
                                                                                                   style="height: 70px"
                                                                                                   alt="">{{product.title}}{{rs.product}}</a>
                    </td>
                    {% endif %}
                    <td class="unit">$
                        {% if rs.product.variant == 'None' %}
                        {{ rs.product.price }}
                        {% else %}
                        {{ rs.variant.price }}
                        {% endif %}
                    </td>
                    <td class="qtty">{{rs.quantity}}
                        <!--                    <div class="form-group&#45;&#45;number">-->
                        <!--&lt;!&ndash;                      <button class="minus"><span>-</span></button>&ndash;&gt;-->
                        <!--                      <input class="form-control qty" type="text" name="qty" id="qty" value="{{rs.quantity}}" min="1" max="10" readonly>-->
                        <!--&lt;!&ndash;                      <button class="plus"><span>+</span></button>&ndash;&gt;-->
                        <!--                    </div>-->
                    </td>
                    <td class="total">$
                        {% if rs.product.variant == 'None' %}
                        {{ rs.amount}}
                        {% else %}
                        {{ rs.varamount }}
                        {% endif %}
                    </td>
                    <td class="desc">
                        <a href="/order/deletefromcart/{{rs.id}}"
                           onclick="return confirm('delete this product? ! Are you sure?'" class="main-btn icon-btn">
                            <div class="ps-remove"></div>
                        </a>
                    </td>
                </tr>

                {% endfor %}

                <tr style="background-color:rgb(204, 204, 255)">
                    <td></td>
                    <td>
                        <h4><h4>Your Amount of Items:{{shopcart.count}}</h4>Coupons Code: {{stauseinfo}}
                    </td> <!--function of SQL count/max/min..-->
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2">SUBTOTAL</td>
                    <td>${{total}}</td>
                </tr>
                {%if shopcart.coupon %}
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2">Discount %</td>
                    <td>${{shopcart.get_discount}}</td>
                </tr>
                {% endif %}
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2">VAT 10%</td>
                    <td>${{vat10|floatformat:2}}</td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2">GRAND TOTAL</td>
                    <td>${{grandtotal|floatformat:2}}</td>
                </tr>
                </tfoot>
            </table>

            <div class="ps-cart__actions">
                <div class="ps-cart__promotion">

                    <!--          apply coupon code-->
                    <div class="border p-4 rounded border-success">
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert {{message.tags}} " id="msg" role="alert">
                            {{ message }}
                        </div>
                        {% endfor %}
                        {% endif %}
                        <form action="{% url 'coupon_apply' %}" method="POST" >
                            {% csrf_token %}


                            <div class="form-group">

                                <div class="ps-form--icon">
                                    {{coupon_apply_form}}
                                    <!--                                    <input class="form-control" type="text" name="code" maxlength="10" required-->
                                    <!--                                           placeholder="Input:Promo Code">-->
                                    <button class="ps-btn ps-btn--gray">Apply Code</button>
                                    <!--                                    <i class="fa fa-angle-right btn btn-primary"></i>-->
                                </div>
                            </div>
<!--                            <div class="input-group mb-3">-->
<!--                                <input type="text" class="form-control" placeholder="Recipient's username"-->
<!--                                       aria-label="Recipient's username" aria-describedby="button-addon2">-->
<!--                                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button-->
<!--                                </button>-->
<!--                            </div>-->

                        </form>
                    </div>


                    <div class="form-group">
                        <a href="/">
                            <button class="ps-btn ps-btn--gray">Continue Shopping</button>
                        </a>
                    </div>
                </div>
                <div class="ps-cart__total">
                    <a class="ps-btn" href="{% url 'orderproduct' %}">Process to Order<i
                            class="ps-icon-next"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}